* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'DM Sans';
}

body {
    width: 1200px;
    margin: auto;
    background: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

header .img-logo {
    background-image: url("../assets/hs..svg");
    width: 64px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav {
    display: flex;
}

header nav p {
    font: 500 22px 'DM Sans';
    margin-right: 27px;
    color: #181717;
}

.preview {
    margin-top: 128px;
}

.preview .img-arrow {
    background-image: url("../assets/↓.svg");
    width: 33px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 128px;
}

.preview .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .info h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
    width: 360px;
}

.preview .info p {
    font: 400 32px 'DM Sans';
    color: #606060;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

footer .networks {
    display: flex;
}

footer .networks p {
    margin-right: 30px;
    font: 500 22px 'DM Sans';
    color: #181717;
}

footer .name {
    font-family: 500 22px 'DM Sans';
    color: #2429AF;
}

.box-one,
.box-two,
.box-three {
    display: flex;
    justify-content: space-between;

}

.box-one, .box-two, .box-three{
    margin-top: 83px;
}

.first-project,
.third-project {
    width: 356px;
    height: 365px;
    display: flex;
    flex-direction: column;
}

.second-project {
    width: 310px;
    height: 320px;
    display: flex;
    flex-direction: column;
}

.first-project h1 {
    font: 500 24px 'DM Sans';
    color: #181717;
    height: 19px;
    margin-bottom: 25px;
}

.dontnow {
    width: 356px;
    height: 169px;
}

.dontnow .text {
    font: 400 22px 'DM Sans';
    color: #181717;
}

.dontnow .language {
    font: 400 22px 'DM Sans';
    color: #606060;
    margin-top: 50px;

}

.exile {
    font: 500 22px 'DM Sans';
    color: #181717;
    text-decoration: underline;
    margin-top: 140px;
}

.img-malevich {
    background-image: url("../assets/Thumbnail.svg");
    width: 640px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: contain;
}

main .line {
    height: 1.5px;
    width: 1200px;
    background-color: #181717;
    margin: 108px 0 108px 8px;
}